* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  background-color: #222222;
}

.home {
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 12px;
}

.home:hover {
  background-color: bisque;
  color: black;
  border-bottom: 5px solid red;
  transition: 0.5ms;
  cursor: pointer;
}

.header-center {
  font-size: large;
  padding: 5px 20px;
  background-color: bisque;
  border-radius: 12px;
}

.header-center:hover {
  border-bottom: 5px solid red;
  transition: 0.5ms;
  cursor: pointer;
}

.header-right {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.header-right span {
  background-color: bisque;
  padding: 5px;
  border-radius: 12px;
  font-size: small;
}

.header-right span:hover {
  border-bottom: 5px solid red;
  transition: 0.5ms;
  cursor: pointer;
}

.main {
  height: 100vh;
  width: 100%;
  padding: 10px 10%;
  background-color: rgb(179, 166, 166);
}

.skillsHeading {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  font-size: large;
  margin-bottom: 20px;
}

.skillsHeading span {
  border-bottom: 5px solid red;
  border-radius: 6px;
}

.skills-section {
  display: flex;
  flex-direction: row;
  background-color: #222222;
  width: 100%;
  border-radius: 12px;
  padding: 40px 0px;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.skillsText {
  height: 40px;
  width: 100px;
  background-color: gray;
  border-radius: 10px;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.skillsText:hover {
  background-color: rgba(207, 106, 106, 0.929);
  transition: 0.5ms;
  border-bottom: 5px solid purple;
  cursor: pointer;
}



.projectsHeading {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  font-size: large;
  margin-bottom: 20px;
}

.projectsHeading span {
  border-bottom: 5px solid red;
  border-radius: 6px;
}

.projects-section {
  background-color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
}

.projects {
  width: 80%;
  background-color: #404040;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
}

.project {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: white;
  padding: 10px;
}

.project a {
  text-decoration: none;
  color: white;
}

.project p:hover {
  background-color: salmon;
  transition: 0.4ms;
  padding: 5px;
  border-radius: 12px;
  border-bottom: 5px solid purple;
}

@media screen and (max-width: 380px) {
  .header {
    padding: 5px;
    justify-content: space-between;
  }

  .home:hover {
    border-bottom: 3px solid red;

  }

  .header-center {
    padding: 5px;
    font-size: small;
  }

  .header-center:hover {
    border-bottom: 3px solid red;
  }

  .main {
    padding: 5px;
  }

  .skills-section {
    padding: 10%;
  }

  .skillsText {
    font-size: small;
    height: 25px;
    width: 60px;
  }

  .skillsText:hover {
    border-bottom: 3px solid purple;
  }

  .projects {
    padding: 2px;
  }

  .project {
    font-size: small;
  }

  .project p:hover {

    border-bottom: 3px solid purple;
  }

  .header-right span:hover {
    border-bottom: 3px solid red;
  }
}