* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mainConatiner {
    width: 100%;
    height: fit-content;
    background-color: rgb(34, 98, 216);

    display: flex;
    flex-direction: column;


    gap: 80px;
}

.titleDiscription {}

.titleContainer {
    display: flex;
    flex-direction: row;

    padding-top: 100px;
    padding-left: 15%;

    align-items: center;


    .title {
        font-size: xx-large;

    }
}

.dot {
    color: orange;
}

.discriptionContainer {
    display: flex;
    flex-direction: row;

    gap: 5px;
    /* background-color: red; */
}

.StaightLine {
    width: 10%;
    border-bottom: 1px solid orange;
    /* background-color: white; */
}

.underline {
    color: orange;
}

.TypesOfProjects {
    width: 100%;
    height: 100px;
    background-color: #4A90E2;

    display: flex;
    flex-direction: row;

    justify-content: space-evenly
}

.TypesOfProject {
    padding: 10px;
    background-color: transparent;

    border: 0px;

}

.link {
    color: #A3C9F9;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.link:hover {
    color: white;

}

.choosen {
    color: white;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 100px;
    padding-left: 100px;
}

.latestContainer {
    width: 100%;
    padding-left: 50px;
    color: orange;
}

.project {
    width: 100%;
    min-height: 100px;
    /* background-color: white; */

    display: flex;
    flex-direction: row;

    align-items: center;

    gap: 30px;

    padding-left: 100px;
}

.projectLine {
    padding: 10px;
    height: 100px;

    /* background-color: red; */

    display: flex;
    flex-direction: column;


    align-items: center;
    justify-content: center;
}

.line {
    width: 2px;
    height: 100%;
    background-color: orange;
}

.projectContainer {
    height: 100%;
    /* background-color: blueviolet; */

    display: flex;
    flex-direction: row;


    align-items: center;
    justify-content: center;





}

.ProjectLink {
    text-decoration: none;
    color: white;

}

.circleContainer {
    width: 100%;
    /* background-color: white; */

    padding-left: 105px;

}

.circle {
    width: 10px;
    height: 10px;
    background-color: orange;

    border-radius: 100px;

}

.backContainer {
    padding-top: 50px;
    width: 100%;
}

.back {

    border: 0px;
    padding: 10px 20px;
    background-color: #eab308;


    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-decoration: none;






}

.back:hover {
    background-color: #fef08a;
    cursor: pointer;



}

@media screen and (max-width: 400px) {
    .projects {
        display: flex;
        flex-direction: column;

        align-items: center;

        padding-left: 0px;

    }

    .link {
        font-size: 15px;
    }


    .titleDiscription {
        font-size: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}